@import './../../styles/mixins.scss';

.empty {
    &__back {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 2%;
        gap: 2%;

        .decorflip {
            margin-top: 1%;
        }
    }
    
    &__content {
        text-align: center;
        margin-top: 24px;
    }
    
    &__title {
        color: #41403E;
        font-size: 30px;
        font-weight: 600;
        margin-bottom: 12px;
    }
    
    &__subtitle {
        color: #DEAD6F;
        font-size: 20px;
        font-weight: 400;
    }
    
    &__button {
        display: inline-block;
        margin-top: 2rem;
        margin-bottom: 2rem;
        padding: 12px 28px;
        border: 1px solid #41403E;
        background-color: transparent;
        color: #41403E;
        text-decoration: none;
        border-radius: 3px;
        font-weight: 500;
        
        &:hover {
            background-color: #DEAD6F;
            
        }
    }
}