.footer {
  background: #F9F3EC;
  padding: 40px 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer__content {
  text-align: center;
  color: #333;
}

.footer__content p:last-child {
  font-size: 18px;
  margin-bottom: 10px;
}